{
  "extends": "eslint-config-dabapps/base/.eslintrc",
  "env": {
    "node": true,
    "browser": false,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "no-console": 0
  }
}
