{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "typings",
    "**/*.d.ts"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "all": true,

  "cache": false,
  "check-coverage": true,
  "sourceMap": true,
  "instrument": true,
   "report-dir": "coverage"
}
